/*** HOME COMPONENT ***/

.home {
  width: 100vw;
  height: 100vh;
  background-color: $base;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include bp(medium) {
    padding: 0 2em;
  }

  &__text {
		max-width: 90vw;
		width: 900px;
    z-index: 3;

    &__title {
      font-family: $body;
      font-size: calc(2em + 2vw);
      margin: 0 0 1em 0;
      line-height: 1.5;
      color: white;

    }
  }
}


