/*** Pages basic layout ***/

.page {
  font-family: $body;
  background: white;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-left: auto;
  text-align: center;

  @include bp(medium) {
    width: 66.66vw;
  }

  &__header {
    position: relative;
    width: 100%;
    margin-top: 50px;
    background: $secondary;
    text-align: center;
    

    &__container {
      padding: 2em 0 0em;
      margin: 0 auto;
      max-width: 480px;
      text-align: center;
      width: 94vw;
    }

    @include bp(medium) {
      margin-top: 0;
    }
  }

  &__title {
    width: 100%;
    z-index: 99;
    font-size: 2.4em;
    font-weight: 600;
    line-height: 1.2;
    @include bp(medium) {
      margin-top: 0.5em;
      font-size: 2.8em;
    }
  }

  &__subtitle {
    line-height: 1.4;
    padding: 1.5em 0em 1em 0;
    max-height: 0;
    opacity: 0;
    transform: translateY(20px);
    color: $grey;
  
  }

  //Link on bottom of every page
  &__link {
    font-family: $code;
    font-size: 14px;
    text-decoration: none;
    color: $highlight;
    color: $white;
    background: $highlight;
    border-radius: 2em;
    padding: 1em 2em;
    position: absolute;
    bottom: 1.5em;
    right: 1.5em;
    box-shadow: 1px 4px 12px rgba($base, 0.2);

    @include bp(medium) {
      bottom: 3em;
      right: 3em;
    }
  }
}

.btn--header--active .page__subtitle {
  opacity: 1;
  height: auto;
  max-height: 320px;
  transform: translateY(0);
}



.no-touchevents .page__link:hover {
  opacity: 0.75;
}
