.btn--remove,
.resume-form li,
.nav a,
.btn,
.faq a,
.btn--back,
.resume a {
  transition: all 0.15s;
}
.page__subtitle {
  transition: transform all 200ms ease-in;
}

.btn--header {
  transition: all 150ms ease-in;
}

.page__link {
  transition: all 150ms ease-in;
}
