/*** VARIABLES ***/
@import url('https://fonts.googleapis.com/css?family=Fira+Mono:400,500,700|Fira+Sans:300,400,500,700,800');

// Colors
$base: #322770; 
$secondary: #FBF8FF; 
$tertiary: #F7EBFF;
$highlight: #00C8A0; 

$black: #090713;
$white: #FBF8FF;
$grey: #AEA8BA;
$darkgrey: #494454;

$body: "Fira Sans", Helvetica, sans-serif;
$code: "Fira Mono", monospace;